<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517768875736-1s2nrdvvbess71rb6p4qofgtl47bv0g4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517768875736-1s2nrdvvbess71rb6p4qofgtl47bv0g4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>517768875736-2hppj884132favcdqffm2ktrdlo1l4u5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALvyfo_zWPTDnolHiJkd5kKSKmmQcVn4o</string>
	<key>GCM_SENDER_ID</key>
	<string>517768875736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseFirestore.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>currentmap-b2f15</string>
	<key>STORAGE_BUCKET</key>
	<string>currentmap-b2f15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517768875736:ios:20e2a7d7f12f5a7f8dd1ad</string>
</dict>
</plist>